body {
    font-family: fantasy, sans-serif;
    background: #e0ffff;
}

li {
    list-style-type: none;
}

.answers-item label {
    border-radius: 0 0 10px 10px;
    border: 2px solid #000;
    text-align: center;
    cursor: pointer;
    min-width: 60px;
}

.answers-item label:hover {
    border: 2px solid rgba(0, 0, 0, 0.5);
}

input:checked + label {
    border: 2px solid #3cb371;
    color: #3cb371;
}

label span {
    font-size: 14px;
}

.answerImg {
    width: 100%;
}

.answers-item {
    width: 80px;
}

.logo-img {
    background: url("./../images/burger.png") center no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
}

.logo-text,
.contacts,
.main-title,
.arrow {
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2px;
    color: #3cb371;
}

.content {
    background: url("./../images/burgerLogo.webp") center no-repeat;
    background-size: 115%;
    height: 300px;
    width: 300px;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: #e0ffff;
}

.btn-outline-danger {
    border: 1px solid #3cb371;
    background-color: inherit;
    color: #3cb371;
}

.btn-outline-danger span {
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2px;
    color: #3cb371;
    font-size: 2rem;
}

.btn-outline-danger:hover,
.btn-outline-danger:active,
.btn-outline-danger:focus,
.btn-outline-danger:visited {
    background-color: #3cb371;
    color: #000000;
}

.btn-outline-danger:hover span,
.btn-outline-danger:active span,
.btn-outline-danger:focus span,
.btn-outline-danger:visited span {
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2px;
    color: #e0ffff;
}
